.about {
  background-color: #ffffff;
}

.about__list {
  @include flex-centred($jc: space-between);
  margin-top: 50px;
}

.about__item {
  position: relative;
}

.about__top-text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  &--white-dark {
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
