.customers {
  background-color: #ffffff;
}

.customers__title {
  @media screen and (min-width: 320px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.customers__list {
  @include flex-centred();
  flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  @media screen and (min-width: 320px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.customers__image {
  @include flex-centred();

  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;

  border-radius: 4px;
  background-color: transparent;

  transition: border-color var(--transition);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.customers__icon {
  fill: #afb1b8;

  transition: fill var(--transition);

  .customers__image:hover &,
  .customers__image:focus & {
    fill: var(--accent-color);
  }
}
