.footer {
  position: relative;
  z-index: 4;

  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: #2f303a;
}

.footer-container {
  @media screen and (min-width: 320px) {
    @include flex-centred();
    flex-direction: column;

    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    @include flex-centred($ai: baseline);
    flex-direction: row;

    text-align: left;
  }
}

.footer-container__child {
  @media screen and (max-width: 1199px) {
    .footer-container__child + & {
      margin-top: 60px;
    }
  }
}

.connecting-container__logo-address-socials {
  @media screen and (min-width: 768px) {
    @include flex-centred($ai: baseline, $jc: space-around);
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    @include flex-centred($d: inline-flex, $ai: baseline, $jc: flex-start);
  }
}

.logo-address-socials__child {
  @media screen and (max-width: 767px) {
    .logo-address-socials__child + & {
      margin-top: 60px;
    }
  }
}

.footer-logo {
  margin-bottom: 20px;

  transition: text-shadow var(--transition);

  .logo--white {
    display: inline-block;

    color: #ffffff;
  }

  &:hover,
  &:focus {
    text-shadow: -3px -1px 1.5px rgba(255, 255, 255, 0.116);
  }
}

// ADDRESS

.address {
  @media screen and (min-width: 320px) {
    @include flex-centred();
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address__item {
  @media screen and (min-width: 320px) {
    .address__item + & {
      margin-top: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    .address__item + & {
      margin-top: 9px;
    }
  }
}

.address__link {
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;

  transition: color var(--transition);

  &--white {
    color: #ffffff;
  }

  &--gray {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// SOCIALS

.top-text {
  &--white {
    margin-bottom: 20px;

    color: #ffffff;
  }
}

.socials__link--transparent {
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials__icon--white {
  fill: #ffffff;
}

@import '../components/subscription-form';
