.hero {
  @include flex-centred();
  margin: 0 auto;
  align-content: center;
  max-width: 100%;
  height: 600px;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    height: 400px;
  }
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 696px;

  text-transform: uppercase;

  &--white {
    color: #ffffff;
  }
}

.hero__button {
  margin: 0 auto;
}
