.portfolio {
  background-color: #ffffff;
}

.filter__button {
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);

  &--black-gray {
    background-color: #f5f4fa;
    color: #212121;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__grid {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 45px;
  }
}

.grid__text {
  transition: top var(--transition);

  .grid__link:hover &,
  .grid__link:focus & {
    top: 0;
  }

  &--whire-accent {
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.grid__discription {
  height: 146px;
  border: 1px solid #eeeeee;

  .grid__link:hover &,
  .grid__link:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid__top-text {
  &--black {
    color: #212121;
  }
}

.grid__bottom-text {
  &--gray {
    color: #757575;
  }
}
