.navigation__link.current {
  display: block;
  color: var(--accent-color);
  &::after {
    content: ' ';

    position: absolute;
    bottom: -1px;

    display: block;
    width: 0%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);

    animation: current var(--current-animation);
  }
}
