body {
  font-family: 'Roboto', sans-serif;
  color: var(--primery-text-color);
  margin: 0;
}

main {
  padding-top: 80px;
}

* {
  box-sizing: border-box;
}

p,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
a,
label,
span,
b {
  text-decoration: none;
  display: inline-block;
}
button {
  cursor: pointer;
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
address {
  font-style: normal;
}
